In [ ]:
#Q1 Explain key features of python that make it popular choice of programming
# Ans.python is a high-programming language that is commonly used fordevelopiing websites and software, task automation, data analysis, and visualisation. The Key features of python that make it popular choice of programming are:-
# 1.Readibility and Simplicity - Pyhton's readibility and simplicity makes it an ideal choice both for begginers and experienced developers.
# 2.Extensive Standard Library - Python comes with an extensive standard library, which is a collection of modules and packages that offer a wide range of functionalities.
# 3.Strong Community Support - Python enjoy's a vibrant and supportive community of developers worldwide.This community provides various resources, including forums, online communities and open-source projects.
# 4.Wide range of Libraries and Framework - Python boasts a vast ecosystem of third-party librarie sand framework.

In [ ]:
#Q2 Describe the role of predefined keyword and provide example of how they are used in python.
# Ans.A python keyword is a word that serves a specific function in Python.Here are some example of predefined keywords:-
# False      await      else       import     pass
# None       break      except     in         raise
# True       class      finally    is         return
# and        continue   for        lambda     try
# as         def        from       nonlocal   while
# assert     del        global     not        with
# async      elif       if         or         yield

In [1]:
#Q3 Compare and contrast of mutable and immutable objects in python with example.
# Ans. Mutable:- Mutable objects are those objects whose values can be change even after assigning the value before.
# Example:- list, set, dictionary.
li= [1, 2, 3 , 4]
li[0]= 25
li[2]= 50
li

[25, 2, 50, 4]

In [2]:
s={1, 2, 5, 8}
s.add(9)
s

{1, 2, 5, 8, 9}

In [ ]:
#immutable:- Immutable objects are those objects whose value once assigned. cannot be changed .
# Example:- tupple, string

In [3]:
# Discuss the types of different operators in python and provide examples of how they are used.
# Ans.Operators in python are special symbols that perform operations on values and variables. The different operators in python are-
 1.Arithmetic Operators:-
# Example:- +, -, *, /, %, **.
a=5
b=8
a+b

13

In [4]:
# 2. Comparison Operators:-
# Example:- <, >, >=, <=, ==, !=.
a=10
b=15
a>b

False

In [5]:
# 3. Logical Operators:-
# Example:-
# Logical and
# Logical or
# Logical not
a=15
b=20
(a>10)and(b<30)

True

In [6]:
a=50
b=60
(a>100)or(b<10)

False

In [11]:
# 4. Bitwise Operators:-
#Example:-
# Bitwise AND(&)
# Bitwise OR(|)
# Bitwise XOR(^)
# Bitwise left shift(<<)
# Bitwise right shift(>>)
a=12
b=5
a&b

13

In [12]:
a|b

13

In [13]:

a^b

9

In [14]:
a<<2

48

In [15]:
a>>2

3

In [19]:
#Q5 Explain typecasting in python with example.
# Ans. Type casting is the method to convert the python variable datatype into a certain data type. There are some examples -
str= "123"
result=int(str)
result
type(result)

int

In [21]:
int= 123
result= float(int)
result
type(result)

float

In [26]:
tup= (1, 2, 3, 5)
result= list(tup)
result
type(result)

list

In [30]:
li=[1,2,3,4,5]
result= tuple(li)
result
type(result)

tuple

In [31]:
#Q6 How conditional statement work in python? illustrate with example.
# Ans. If the condition is true, the if block code is executed and if the condition is false, the else block code is executed.
# Types of conditional statement:-
# 1. if statement
# 2. if-else startElement
# 3. if-elif else startElement
# 4. nested if-else statement

#Example of if statement
age= 16
if age>=18:
    print("You are eligible for voting")

In [32]:
#Example of if-else statement
age=17
if age>=18:
    print("You are eligible for vote")
else:
    print("You are not eligible for vote")

You are not eligible for vote

In [33]:
#Example of if-elif else statement
grade= 5.5
if grade>=7.0 and grade<=10.0:
    print("First Division")
elif grade>=5.0 and grade<=7.0:
    print("Second Division")
else:
    print("Third Division")

Second Division

In [34]:
#nested if-else statement
num = 5

if num > 0:
    print("The number is positive.")
else:
    if num < 0:
        print("The number is negative.")
    else:
        print("The number is zero.")

The number is positive.

In [35]:
#Loop Statement:- LOOP statements execute a sequence of statements multiple times.
# Types of loop statement:-
# 1. For loop statement.
# 2. While loop statement.
for item in range(1, 5, 1):
    print("Hello i am jarvis")

Hello i am jarvis
Hello i am jarvis
Hello i am jarvis
Hello i am jarvis

In [36]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [37]:
#Break and Continue Statement:- Break statement stops the entire process of the loop and Continue statement only stops the current iteration of the loop.
# Example of break statement:-
for item in range(1,10,1):
    if item%2==0:
        break
    print(item)

1

In [38]:
# Example of continue statement:-
for item in range(1,10,1):
    if item%2==0:
        continue
    print(item)

1
3
5
7
9